<div>
    {% if page.next.url %}
        <div style="float: right;" title="{{ page.next.title }}" class="stylish-tooltip shadowed brand-background rounded inline-blocked center post-navigation-button">
            <a href="{{ page.next.url }}" >
                <div style="padding: 10px;">
                    <strong class="white">Next Post</strong>
                </div>    
            </a>
        </div>
    {% endif %}

    {% if page.previous.url %}
        <div style="float: left;" title="{{ page.previous.title }}" class="stylish-tooltip shadowed brand-background rounded inline-blocked center post-navigation-button">
            <a href="{{ page.previous.url }}" >
                <div style="padding: 10px;">
                    <strong class="white">Previous Post</strong>
                </div>    
            </a>
        </div>
    {% endif %}
</div>
