<!-- Sass Theme -->
<link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">

<!-- nProgress -->
<link rel='stylesheet' href='https://unpkg.com/nprogress@0.2.0/nprogress.css'/>
<script src='https://unpkg.com/nprogress@0.2.0/nprogress.js'></script>

<!-- jQuery -->
<script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>

<!-- MathJax -->
<script src="https://cdn.rawgit.com/mathjax/MathJax/2.7.1/MathJax.js"></script>
