  {%- if site.facebook_username -%}
    <a class="social-icon" href="https://www.facebook.com/{{ site.facebook_username| cgi_escape | escape }}"><i class="fab fa-facebook fa-2x"></i></a>
  {%- endif -%}

  {%- if site.github_username -%}
    <a class="social-icon" href="https://github.com/{{ site.github_username| cgi_escape | escape }}"><i class="fab fa-github fa-2x"></i></a>
  {%- endif -%}
  
  {%- if site.linkedin_username -%}
    <a class="social-icon" href="https://www.linkedin.com/in/{{ site.linkedin_username| cgi_escape | escape }}"><i class="fab fa-linkedin fa-2x"></i></a>
  {%- endif -%}

  {%- if site.rss -%}
    <a class="social-icon" href="{{ 'feed.xml' | relative_url }}"><i class="fas fa-rss fa-2x"></i></a>
  {%- endif -%}

  {%- if site.email -%}
    <a class="social-icon" href="mailto:{{ site.email }}"><i class="fas fa-envelope fa-2x"></i></a>
  {%- endif -%}

  {%- if site.stackoverflow_username -%}
    <a class="social-icon" href="https://stackoverflow.com/users/{{ site.stackoverflow_username }}"><i class="fab fa-stack-overflow fa-2x"></i></a>
  {%- endif -%}

  {%- if site.whatsapp_username -%}
    <a class="social-icon" href="whatsapp://send?text=Hello World!&phone={{ site.whatsapp_username }}"><i class="fab fa-whatsapp fa-2x"></i></a>
  {%- endif -%}

  {%- if site.wechat_username -%}
    <a class="social-icon" href="weixin://dl/chat?{{ site.wechat_username }}"><i class="fab fa-weixin fa-2x"></i></a>
  {%- endif -%}
