
$brand-color-dark: darken($brand-color, 10%) !default;

.footer-disclaimer {
    color: $grey-color;
    font-style: italic;
}

.brand-color {
    color: $brand-color;
}

.social-icon {
    margin: 10px;
    text-align: center;
}

.center {
    text-align: center;
}

.post-title {
    text-align: center;
}

.post-meta {
    text-align: center;
    font-size: 18px !important;
}

.footer-col-wrapper {
    margin: auto;
}

.post-list > li {
    padding: 10px;
    -webkit-box-shadow: 1px 1px 3px 2px rgb(204, 204, 204);
    -moz-box-shadow: 1px 1px 3px 2px rgb(204, 204, 204);
    box-shadow: 1px 1px 3px 2px rgb(204, 204, 204);
    background-color: white;

    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

.post-link {
    line-height: 30px;
    margin-bottom: 15px;
}

.post-list-heading {
    @include relative-font-size(2.7);
    text-align: center;
    margin-bottom: 30px;
}

html {
    min-width: 310px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 350;
}

@media (max-width: $content-width) {
    table {
        width: 100%;
        table-layout: fixed;
        overflow-x: scroll;
        display: inline-block
    }
}

td {
    min-width: 120px;
}

figure {
    margin-bottom: 15px !important;
}

.page-link {
    color: $brand-color !important;
}

.page-link, .site-title, .footer-heading {
    color: $brand-color !important;
    text-transform: uppercase;
    font-weight: 400;
}

.site-title {
    line-height: 35px;
    padding-top: 15px;
    margin-bottom: 10px;
}

.site-nav {
    top: 15px;
}

P {
    text-align: justify;
    text-justify: inter-word;
}

a {
    -o-transition: 300ms;
    -ms-transition: 300ms;
    -moz-transition: 300ms;
    -webkit-transition: 300ms;
    transition: 300ms;
}

.social-media-list a:hover {
    text-decoration: none !important;
}

a:hover {
    text-decoration: none !important;
    color: $brand-color-dark !important;
}

a:visited {
    color: $brand-color;
}

body {
    font-family: $base-font-family;
}

td.code {
    padding: 0px 0px !important;
    padding-left: 10px !important;
}

.post-meta {
    font-size: 16px;
}

.gutter {
    min-width: 5px;
    padding: 0 0;
    padding-left: 5px;
    border: 0 none transparent;
    border-right: 1px solid black;
}

pre, .highlight {
    margin: 0px;
    margin-right: 10px;
    padding: 5px;
    border: 0 none transparent;
}

.rouge-table {
    margin-bottom: 0 !important;
    overflow-x: inherit;
    display: inline-block;
    border: 0 none transparent;
}

.site-header {
    border-top: 0 none transparent;
}

pre, code, .highlighter-rouge .highlight {
    background-color: #eee;
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;    
}

.highlighter-rouge {
    margin-bottom: 15px;
}

code {
    font-family: 'Roboto Mono', monospace;
}

.code {
    padding: 0px 0px 0px 0px !important;
}

td.code {
    border: 0 none transparent;
}

#nprogress .bar {
    background: $brand-color !important;
    min-height: 3px;
  }
  
#nprogress .spinner-icon {
    visibility: hidden;
    border-top-color: $brand-color !important;
    border-left-color: $brand-color !important;
}
  
#nprogress .peg {
    box-shadow: 0 0 10px $brand-color, 0 0 5px $brand-color !important;
}
